@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body {
    font-size:16pt;
}
header, main, footer {
    max-width: 760px;
    margin: 0 auto;
}
header {
    background-color:teal;
    padding: .25rem;
    border-radius: 1rem;
}
header img {
    float: right;
    width: 225px;
    box-shadow: 5px 5px 5px darkslategrey;
}
h1 {
    font-size: 4.5rem;
    font-family: 'Dancing Script', cursive;
    color:lightgoldenrodyellow;
    text-align: center;
    padding:.5rem;
}    
h2 {
    font-size: 2rem;
    border-bottom: 2px solid black;
}    
footer {
    background-color:teal;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;  
    color: white;
    line-height: 60%;
}
footer a {
    color:navy;
}
p {
    color:gold;
    font-size: 14pt;
}

