body {
    background-color: white;
    padding: 0;
}
header {
    background-color:black;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    max-width: 100%;
}

main {
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

h1 {
    padding: 1rem;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 1s;
}

div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
