@media only screen and (min-width: 60em) {
	
    header,
    nav,
    main,
    footer {
        max-width: 960px;
    }
    body {
        font-size: 16pt;
    }

    header img {
        width: 100%;
        height: auto;
        padding: 5px;
        margin: 10px 0 0 0;
    }

    .motto {
        letter-spacing: 1.5pt;
        color: var(--blue);
        margin-left: 15pt;
        font-size: large;
        text-shadow: var(--darkblue) 1px 1px 1px;
    }

    h1 { 
        font-size: 3rem;
        margin: 0 0 0 5px;
    }

    h2 {
        font-size: 2.5rem;
    }
        
    h3 {
        font-size: 2rem;
    }

    nav a {
        font-size: 1.1rem;
    }

}