@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: lightgray;
    font-family: Nunito, sans-serif;
}

h1 {
    text-align: center;
    font-size: 24pt;
}

p {
    text-align: center;
    font-size: 16pt;
}

h2 {
    font-size: 20pt;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 98%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 1rem;
}

.cards section {
    background-color: brown;
    color: white;
    max-width: 100%;
    border: 1px solid white;

}
.cards img { 
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
}

footer {
    max-width: 100%;
    background-color: brown;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 1rem;
}

/* ---------Medium view CSS---------- */
@media only screen and (min-width: 35em){

h1 {
    font-size: 32pt;
}

div.cards{
    grid-template-columns: 1fr 1fr;
}

.cards section {
    box-shadow: 5px 10px 20px darkslategray;
}
}

/* -------Large view CSS-------------- */
@media only screen and (min-width: 64em){

    div.cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

