@media only screen and (min-width: 35em) {
    body {
        width: 760px;
        height: auto;
        margin: 0 auto;
        font-size: 16pt;
        padding: 1rem;
    }

    table{
        max-width: 500px;
        box-shadow: 15px 10px 10px gray; 
    }

    thead tr:first-child {
        font-size: 2.5rem;
    }
}