@media only screen and (min-width: 500px) {

    header, footer, nav {
        max-width: 800px;
        padding: 0;
    }

    main {
        max-width: 700px;
        padding: 1rem;
    }

    header {
        padding: 5px 0;
    }

    header img {
        width: 90%;
        height: auto;
    }

    h1 { 
        font-size: 2rem;
        text-shadow: var(--blue) 2px 2px 2px;
    }

    h2 {
        font-size: 1.75rem;
        text-shadow: var(--darkblue) 1px 1px 1px;
    }

    p {
        font-size: 14px;
    }

    picture {
        max-width: 110px;
    }

    .motto {
        font-size: 1rem;
    }
/* -------navigation bar---------------- */
    nav ul li a {
        border-top: none;
    }

    nav a {
        font-size: .9rem;
    }

    .navigation {
        display: flex;
        margin-bottom: 20px;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    
    .navigation a {
        text-align:center;
    }

    .navigation li:first-child {
        display: none;
    }
   
/* -------town pages---------------- */

    .herodiv {
        position: relative;
        max-width: 90%;
        margin: 0 auto;
    }
    
    .heropic {
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding-bottom: 2rem;
    }
       
    .weathersummary {
        position:absolute;
        top: 25px;
        left: 25px;
        padding: .5rem;
        color: var(--white);
        opacity: 0.8;
        box-shadow: 0 0 30px #777;
        font-size: 12pt;
    }
    
    .weathersummary h3 {
        font-size: 1rem;
        padding: 0;
        border-bottom: 1px solid black;
        margin: 0 auto;
    
    }

    .forecast {
        display: block;
        max-width: 800px;
        text-align:center;
        margin: 0 0 30px 0;
        align-items: center;
    }

    .forecast h3 {
        font-size: 1.25rem;
    }

    .forecast table {
        width: 90%;
        text-align: center;
        justify-content: center;
        background-color: var(--lightgrey);
        border: 1px solid var(--darkblue);
        margin-left:auto; 
        margin-right:auto;   
        margin-bottom: 2rem; 
    }
    
    .forecast th {
        background-color: var(--blue);
        color: var(--white);
        border: 1px solid var(--darkblue);
    
    }

    .forecast td {
        border-right: 1px solid var(--darkblue);
        border-left: 1px solid var(--darkblue);
    }
    
    .events {
        background-color: var(--darkblue);
        color: var(--white);
        padding: 1rem;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 5px solid var(--yellow);
        max-width: 600px;
    }
    
    .events h3 {
        font-size: 1.5rem;
    
    }
    
    .events p {
        font-size: 16pt;
    
    }  

    .articlebox {
        max-width: 700px;
    }

    .articlebox-fishhaven {
        display: block;
        max-width: 90%;
    }

    .articlebox img {
        max-width: 90%;
        height: auto;
        float: right;
        padding: 1rem;
        margin: 0 auto;
        margin-top: 10px;
    }

    .articlebox-fishhaven img {
        float: left;
        width: 40%;
        height: auto;
        padding: 1rem;
        margin-top: 10px;
    }

    .article p {
        padding: .5rem;
        font-size: 14pt;
    }

    .articlebox h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
        text-align: left;
        padding: .5rem;
    }

    .articlebox-fishhaven h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
        text-align: left;
        padding: .5rem;
    }

    .announcement {
        max-width: 90%;
    }

    .announcement h3 {
        font-size: 1rem;
    }

    /* -------gallery page---------------- */

    .weathergallery {
        max-width: 767px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .locationinfo {
        max-width: 100%;
        grid-template-columns: 1fr 1fr; 
        margin-top: 20px;
    }

    figure {
        box-shadow: 10px 5px 5px var(--darkgrey);
    }

    figure img {
        padding:0;
        width: 100%;
    }

/* -------storm center page---------------- */

    main form {
        width: 500px;
    }

    .googlemap {
        margin-left: 2rem;
    }
    
    .contactinfo {
        text-align: left;
        max-width: 100%;
        padding: 1rem;
    }

    .radio {
        display: flex;
        flex-direction: row;
    }

/* -------thank you page---------------- */

    .thankyou {
        font-size: 16pt;
        max-width: 500px;
        box-shadow: 10px 10px 20px var(--darkgrey);
    }

/* -------home page---------------- */

    #home {
        background-color: var(--white);
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
    }

    .homeherodiv{
        margin-top: -20px;
    }

    .towninfo {
        max-width: 90%;
        padding: 1rem;
        margin: 0 auto;
        background-color: var(--white);
	    display: flex;
	    flex-wrap: wrap;
    }

    .towninfo div {
        background-color: var(--darkblue);
    }
    

    .towninfo div h2 {
        font-size: 18pt;
        margin-bottom:  0;
        background-color: var(--darkblue);
        color: var(--white);
        padding-top: 1rem;
    }

    .towninfo div h3 {
        background-color: var(--darkblue);
    }
    
    .towninfo div p {
        background-color: var(--darkblue);
        color: var(--white);

    }
    .towninfo section {
        background-color: var(--darkblue);
        width: 100%;
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 10px var(--darkgrey);
      }
      
      .towninfo section:nth-child(even) {
          flex-direction: row-reverse;
      }

      .towninfo section:hover {
        box-shadow: 10px 10px 10px var(--yellow); 
      }

      .towninfo img {
          width: 50%;
          padding: 1rem;
          background-color: var(--darkblue);
          margin: 0 auto;
      }
      .towninfo div {
          width: 50%;
      }

    #homearticle {
        width:90%;
    }

    #homearticle img {
        max-width: 50%;
        float: right;
        padding: 1rem;    
    }

    #homearticle h3 {
        margin-top: -10px;
    }

    #homearticle h4 {
        text-align: left;
        padding: 0 0 0 1rem;
    }

    #homearticle p {
        font-size: 14pt;
        padding-top: 0;
    }
}
