:root {
    --darkblue: #353348;
    --blue: #406E77;
    --yellow: #E0A100;
    --white: #ffffff;
    --lightgrey: #EEF1EF;
    --darkgrey: #5E6572;
  }

body {
    font-size: 14pt;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    height: 100%;
    background-color: var(--white);
    color: var(--darkblue);
}

aside {
    display: block;
    max-width: 767px;
    background-color: var(--darkblue);
    color: var(--white);
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

aside p {
    padding: 0;
    margin: 0 auto;
    font-size: 12pt;
}

header, main, footer, nav {
    max-width: 767px;
    margin: 0 auto;
    padding: .75rem;
}

p, nav, ol {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.4rem;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: var(--darkblue);
    margin: 0;
}

h2 {
    font-size: 1.2rem;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: var(--blue);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

h3 {
      font-size: .75rem;
      text-align: center;
}

/* -------header---------------- */

header {
    background-color: var(--white);
    color: var(--darkblue);
    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

picture {
    max-width: 85px;
    height: auto;
    padding: 0;
}

header img{
    width: 100%;
    height: auto;
    margin: 5px 0 0 0;
}

.heading {
    display: flex;
    flex-direction: column;
}

.motto {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1pt;
    color: var(--blue);
    margin-top: 0;
    font-size: .65rem;
    padding: 0 5px 5px 5px;
}

/* -------navigation bar---------------- */

nav {
    padding-top: 0;
}

nav ul {
	list-style-type: none;
	margin-top: 0;
    margin-bottom: 0;
	padding: 0;
	overflow: hidden;
    background-color: var(--yellow);
    color: var(--darkblue);
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul li a {
	display: block;
	color: var(--darkblue);
    font-weight: bold;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.responsive li {
    display: block;
}

.active {
    background-color: var(--lightgrey);    
    color: var(--white);
    box-shadow: 0px 5px 10px 10px var(--blue);
}

nav a:hover {
    background-color: rgba(0,0,0,0.3); 
    color: var(--white);      
}

.active hover {
    background-color: var(--blue);
    color: var(--white);
}

/* ---------town pages---------------- */

.herodiv {
    max-width: 767px;
}

.heropic {
    margin: 10px auto;
    width: 100%;
    height: auto;
}

.weathersummary {
    max-width: 767px;
    padding: 1rem;
    color: var(--darkblue);
    background-color: var(--yellow);
    font-size: 16px;
    margin-bottom: 20px;
}

.weathersummary h3 {
    font-size: 1.25rem;
    padding: 0;
    border-bottom: 1px solid black;
    text-align: center;
}

.weathertable {
    margin: 0 auto;
}

.weathertable th {
    text-align: right;
    height: 15px;
}

.weathertable td {
    text-align: left;
    height: 15px;
    color: var(--white);
    font-weight: bold;
}

.forecast {
    display: none;
}

.articlebox {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--lightgrey);
    font-size: 1rem;
    padding: 1rem;
    margin: 0 auto;
    align-items: center;
    max-width: 767px;
}

.articlebox img {
    width: 100%;
}

footer a {
    color: var(--yellow);
}

/* ----------gallery page---------------- */

figure {
    padding: 0;
    margin: 0 auto;
    background-color: var(--lightgrey);
    color: var(--darkblue);
    font-size: 10pt;
    text-align: center;
    width: 100%;
}

figure img {
    width: 100%;
    filter: blur(0em);
    transition: filter 1s;
}

figure img[data-src] {
    filter: blur(0.2em);
  }

figcaption {
    padding: 10px;
}

.weathergallery {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
  
.galleryphoto {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
}

/* ----------storm center page---------------- */

.instructions {
    text-align: center;
    margin: 0 auto;
    padding:1rem;
}

form {
    display: flex;
    flex-direction: column;
    clear: both;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

form label {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

form .form {
    margin-bottom: 1rem;
    background-color: var(--darkblue);
    margin-bottom: 2rem;
    color: var(--white);
    padding: 1rem;
}

fieldset h3 {
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
    margin: 0 auto;
}

#rating {
    color: var(--white);
}

form input {
    width: 100%;
}

form input:not(.radio) {
    width: 95%;
    clear: both;
    margin-bottom: 1rem;
    background-color: var(--lightgrey);
    color: var(--darkblue);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#stormreg, #comments {
    background-color: var(--lightgrey);
}

form p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.radio label input {
    width: 20px;
}

.radio {
    padding-top: 0;
    margin-top: 0px;
}
.radio label {
    padding-right: .5rem;
    padding-top: 0;
    margin-right: 3.5rem;
}

.radio input {
    margin-left: 1rem;
    margin-top: 0;
}

.danger {
    font-size: 14pt;
    padding-top: 1rem;
    padding-bottom: 0;
    margin-bottom: -25px;
}

#stormreg {
    width:95%;
}

form textarea {
    resize: none;
    width: 90%;
    margin-bottom: 0.5rem;
    width: 98%;
    height: 100px;
    box-sizing: border-box;
}

#submit {
    background-color: var(--yellow);
    color: var(--darkblue);
    font-weight: bold;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 8px;
}

#submit:hover {
    background-color: var(--blue);
    color: var(--darkblue);
  }

/* ----------contact footer---------------- */

.locationinfo {
    display: grid;
    max-width: 767px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    background-color: var(--lightgrey);
    font-size: 1rem;
    padding: 1rem;
    line-height: .8rem;
}

.googlemap {
    padding: 0;    
}

.googlemap img {
    width: 250px;
    margin: 0 auto;
}


.contactinfo {
    width: 100%;
    padding: 1rem;
    color: var(--darkblue);
}

.contactinfo img{
    width: 30px;
}

/* -------bottom footer---------------- */

footer {
    background-color: var(--darkblue);
    color: var(--white);
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    padding: 10px;
}

footer p {
    margin: 5px 0 10px 0;
}

.bottomfooter {
    padding: 1rem;
}

.thankyou {
    margin: 0 auto;
}

.thankyou img {
    margin-left: 3rem;
    
}

/* -------home page---------------- */

#home {
    background-color: var(--darkblue);
    width: 1000px; 
}

.homeherodiv{
    margin-bottom: 10px;
}
.homeherodiv picture {
    margin: 0 auto;
}

.homeherodiv picture img {
    width: 100%;
    margin: 0 auto;
}

.towninfo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
}

.towninfo section {
    background-color: var(--lightgrey);
    color: var(--darkblue);
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0px;
    margin: 0 auto;
    border: 2px solid var(--darkgrey);
}

.towninfo img { 
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin-bottom: -10px;
}

.towninfo h2 {
    font-size: 18pt;
    margin-bottom:  0;
    background-color: var(--white);
    padding-top: 1rem;
}

.towninfo h3 {
    margin-top: -5px;
    margin-bottom: 20px;
    background-color: var(--white);
    color: var(--yellow); 
    padding: .5rem;
    font-size: 10pt;
    border-bottom: 1px solid var(--darkgrey);
}

.towninfo p {
    font-size: 12pt;
}

#homearticle {
    background-color: var(--lightgrey);
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

#homearticle h2 {
    font-size: 18pt;
    padding: 1rem;
    margin-bottom: 0;
}

#homearticle h3 {
    font-size: 11pt;
    color: var(--blue);
    padding: 0 .5rem 0 .5rem;
    margin-top: 0;
}

#homearticle h4 {
    font-size: 14pt;
    text-align: center;
}

#homearticle img {
    width: 100%;
}

#homearticle p {
    padding: 1rem;
}