@media only screen and (min-width: 850px) {
	
    body, footer, header, main {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin: 0 auto;
    }

    p {
        font-size: 16pt;
    }

    header.menubar {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
    }
    
    header div.logo {
        max-width: 300px;
        }
    
    header div.logo picture {
        max-width: 250px;
        margin: 0 auto;
        margin-top: 25px;
    }
        
    .tooeleheading {
        font-size: 24px;
        padding-top: 1rem;
        margin-bottom: -15px;
    }
    
    .chamber {
        font-size: 28px;
    }
    
    .menubar {
        padding: 0;
        width: 100%;
    }

    .socialbar {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        align-content: flex-end;
    }
        
    .socialbar ul {
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .social ul li {
        align-self: right;
    }
    
    .socialbar img {
        width: 35px;
        padding: 0;
    }
                
    .joinbutton {
        margin-top: 1rem;
        font-size: 18pt;
     
    }

    .navigationbar {
        background-color: var(--white);
    }

    nav {
        padding: .5rem;
        background-color: var(--white);
    } 
    
    nav ul li {
        border-top: none;
    }

    nav ul li a {
        border-top: none;
        color: var(--black);
        font-size: 1rem;
    }

    nav a {
        font-size: 1rem;
    }

    .navigation {
        display: flex;
        margin-bottom: 5px;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    
    .navigation a {
        text-align:center;
    }

    .navigation li:first-child {
        display: none;
    }

/*---------home page----------*/

.purpose picture img {
    float: left;
    width: 300px;
    padding: 1rem 1rem .5rem 1rem;
}

.localadvertisement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    margin: 0 auto;
}
.localadvertisement section {
    max-width: 275px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.localadvertisement section:nth-child(even) {
    max-width: 275px;
    display: flex;
    flex-direction: column;
  }

.localadvertisement div h3 {
    font-size: 1.25rem;
}

.localadvertisement div h4 {
    font-size: 1rem;
}

.localadvertisement p {
    font-size: 12pt;
    padding: 0;
    line-height: .5;
}

.localadvertisement img {
    width: 100%;
    padding: 0;
  }
.localadvertisement div {
    width: 100%;
  }

.ad {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: .5rem 1rem 1rem 1rem;
    width: 300px;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 1fr;
}

.weather h2 {
    grid-column: 1;
    grid-row: 1;
}

.weather h3 {
    grid-column: 2;
    grid-row: 1;
}

.weathersummary {
    grid-column: 1;
    grid-row: 2;
}

.threedayforecast {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
}

/*----------join page-----------*/
form {
    width: 60%;
}


/*--------footer--------------*/

    footer p {
        font-size: 10pt;
    }

    footer img {
        width: 100px;
    }

    .contactinfo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
        padding: 1rem;
    }
    
    .address p {
        text-align: left;
    }
    
    .contact p {
        text-align: left;
    }

}