@media only screen and (min-width: 850px) {
	
    body, footer, header, main, nav {
        max-width: 100%;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    .pageheader {
        background-color: var(--red);
    }

    p {
        font-size: 16pt;
    }

    h3 {
        font-size: 1.75rem;
    }

    header.menubar {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
    }
    
    header div.logo {
        max-width: 400px;
    }
    
    header div.logo picture {
        max-width: 250px;
        margin: 0 auto;
        margin-top: 25px;
    }
        
    .tooeleheading {
        font-size: 24px;
        padding-top: 1rem;
        margin-bottom: -15px;
    }
    
    .chamber {
        font-size: 28px;
    }
    
    .menubar {
        padding: 0;
        width: 100%;
    }

    .socialbar {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        align-content: flex-end;
    }

    .socialbar img {
        max-width: 50%;
        margin-right: 20px;
    }

    .socialbar button {
        box-shadow: none;
        position: absolute;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        top:15px;
        right: 20px;
    }
        
    .socialbar ul {
        margin-right: 100px;
        padding-top: 0;
        padding-bottom: 0;
        max-width: 200px;
    }

    .social ul li {
        align-self: right;
    }
                
    .joinbutton {
        margin-top: 1rem;
        font-size: 18pt;
    }

    .navigationbar {
        background-color: var(--white);
    }

    nav {
        padding: .5rem;
        background-color: var(--white);
    } 
    
    nav ul li {
        border-top: none;
    }

    nav ul li a {
        border-top: none;
        color: var(--black);
        font-size: 1rem;
    }

    nav a {
        font-size: 1rem;
    }

    nav a:hover {
        background-color: var(--darkgrey);
    }

    .navigation {
        display: flex;
        margin-bottom: 5px;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    
    .navigation a {
        text-align:center;
    }

    .navigation li:first-child {
        display: none;
    }

    .confirm {
        border-top: 5px solid var(--red);
    }

/*---------home page----------*/

    .purpose picture img {
        float: left;
        width: 300px;
        padding: 1rem 1rem .5rem 1rem;
    }

    .localadvertisement {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        margin: auto;
        margin-top: 20px;
        grid-gap: .5rem;
    }

    .localadvertisement section {
        max-width: 250px;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .localadvertisement section:nth-child(even) {
        max-width: 275px;
        display: flex;
        flex-direction: column;
    }

    .localadvertisement div h3 {
        font-size: 1.25rem;
    }

    .localadvertisement div h4 {
        font-size: 1rem;
    }

    .localadvertisement p {
        font-size: 12pt;
        padding: 0;
        line-height: .5;
    }

    .localadvertisement img {
        width: 100%;
        padding: 0;
    }

    .localadvertisement div {
        width: 100%;
    }

    .ad {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: .5rem 1rem 1rem 1rem;
        width: 300px;
    }

    .ad h3 {
        padding: .5rem;
    }

    .ad img:nth-child(even) {
        border-radius: 0 0 15px 15px;
    }

    .ad img:nth-child(2) {
        border-radius: 0 0 15px 15px;
    }

    .weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20px 1fr;
        grid-gap: 1rem;
    }

    .weather h2 {
        grid-column: 1;
        grid-row: 1;
    }

    .weather h3 {
        grid-column: 2;
        grid-row: 1;
    }

    .weathersummary {
        grid-column: 1;
        grid-row: 2;
    }

    .threedayforecast {
        grid-column: 2;
        grid-row: 2;
        width: 100%;
    }


    /*--------tooele city----------*/

    .tooelepage {
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;
    }

    #abouttooele {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
        font-size: 14pt;
    }
    #events {
        grid-column: 1;
    }
    .photogallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .history {
        margin-top: 0;
    }

    /*----------join page-----------*/

    #contactform {
        max-width: 100%;
        margin-top: 20px;
    }

    fieldset h3 {
        font-size: 1.75rem;
        width: 300px;
    }

    #join {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #levels {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    #application {
        margin-top: 70px;
    }

    #application h3 {
        margin-top: -25px;
        max-width: 180px;
        background-color: white;
    }


/*--------directory page------*/

.cards.grid-view-filter {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards.grid-view-filter a {
    font-size: 10pt;
  }

/*-------contact page---------*/

    #largeview {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }  

    #contactpage {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 1rem;
            max-width: 90%;
            margin: auto;
    }

    .contactinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 1rem;
    }

    #contactform {
        max-width: 100%;
        margin: 0;
    }

    #directors {
        text-align: left;
    }

    .contactinfo h3 {
        margin-top: -50px; 
        background-color: var(--white);
        padding: 0;
        max-width: 250px;
        font-size: 1.75rem;
     }

/*--------footer--------------*/

    footer p {
        font-size: 12pt;
    }

    footer img {
        width: 100px;
    }

    .locationinfo {
        max-width: 100%;
    }

    .footercontactinfo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
        padding: 1rem;
    }
    
    .address p {
        text-align: left;
    }
    
    .contact p {
        text-align: left;
    }

}