@media only screen and (min-width: 500px) {

    header, footer, nav {
        max-width: 800px;
        padding: 0;
    }

    main {
        max-width: 700px;
        padding: 0;
    }
    .sociallink {
        width: 50%;

    }

    .joinbutton {
        max-width: 400px;
        margin-left: 0;
        padding-right: 2rem;
        padding-left: 2rem;

    }

    /*--------home page--------*/

    .homepagehero {
        max-width: 800px;
    }

    .localadvertisement {
        max-width: 750px;
        height: auto;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .localadvertisement div h2 {
        font-size: 18pt;
        margin-bottom:  0;
    }

    .localadvertisement section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 10px var(--darkgrey);
    }
  
    .localadvertisement section:nth-child(even) {
      flex-direction: row-reverse;
    }

    .localadvertisement img {
      width: 50%;
      height: 100%;
      margin: 0 auto;
    }

    .localadvertisement div {
      width: 50%;
    }

    .ad img:nth-child(even) {
        border-top: none;
        border-radius: 15px 0 0 15px;
    }

    .ad img:nth-child(odd) {
        border-top: none;
        border-radius: 0 15px 15px 0;
    }

    .events {
        max-width: 80%;
        margin: 0 auto;
        padding: 1rem;
        background-color: var(--white);
        color: var(--black);
        margin-top: -10px;
        margin-bottom: 40px;
        text-align: center;
    }

    .weathersummary {
        max-width: 100%;    
}

/*----------join page-----------*/
form {
    width: 80%;
}

}