@media only screen and (min-width: 550px) {

    header, main, footer, nav{
        max-width: 850px;
    }
    
    main {
        padding: 0;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
    }
    
    h4 {
        font-size: 1.3rem;
    }

    p {
        font-size: 14pt;
    }

    .socialbar img {
        max-width: 45%;
    }
    .socialbar button {
        margin-right: 15px;
    }

    /*--------home page--------*/

    .homepagehero {
        max-width: 100%;
    }

    .purpose h2 {
        padding-left: 1rem;
        margin-top: -2.25rem;
        background-color: var(--white);
        width: 230px;
    }

    .purpose img {
        display: block;
        margin: auto;
    }


    .localadvertisement {
        max-width: 90%;
        height: auto;
        margin: auto;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .ad h3 {
        font-size: 18pt;
        margin-top: 20px;
        margin-bottom:  15px;
    }

    .localadvertisement section {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 10px var(--darkgrey);
    }
  
    .localadvertisement section:nth-child(even) {
      flex-direction: row-reverse;
    }

    .localadvertisement img {
      width: 50%;
      height: 100%;
      margin: auto;
    }

    .localadvertisement div {
      width: 50%;
    }

    .ad img:nth-child(even) {
        border-top: none;
        border-radius: 0px 15px 15px 0;
    }

    .ad img:nth-child(2) {
        border-top: none;
        border-radius: 15px 15px 15px 15px;
    }

    .events {
        max-width: 80%;
        margin: 0 auto;
        padding: 1rem;
        background-color: var(--white);
        color: var(--black);
        margin-top: -10px;
        margin-bottom: 40px;
        text-align: center;
    }

    .weathersummary {
        max-width: 100%;    
}

/*--------tooele city-----------*/

.tooelepage {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

#abouttooele {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
}

#events {
    grid-column: 1/3;
}

.photogallery {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.history article {
    padding: 1rem;
}

figure {
    box-shadow: 10px 5px 5px var(--darkgrey);
}

figure img {
    padding:0;
    width: 100%;
}

/*----------join page-----------*/

    #join {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }

    #membershiplevels {
        max-width: 100%;
    }
    #levels {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .5rem;
        max-width: 100%;
    }

    #application {
        margin-right: auto;
        margin-left: auto;
    }

    form {
        max-width: 80%; 
        margin-left: auto;
        margin-right: auto;
    }

/*--------directory page------*/

.filter-buttons {
    display: flex;
    margin-bottom: 20px;
  }
  
  .list-view-button,
  .grid-view-button {
    display:inline;
    color: var(--black);
    border: 1px solid var(--white);
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .list-view-button:hover,
  .grid-view-button:hover {
    background: lightgray;
    color: var(white);
  }
  
  .list-view-button {
    margin-right: 10px;
  }
    
  .cards.list-view-filter {
    flex-direction: column;
    max-width: 550px;
    margin: auto;
  }

  .cards.list-view-filter a {
    font-size: 14pt;
  }
  
  
  .cards.grid-view-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  

/*-------contact page---------*/

    #directors {
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .locationinfo {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #directors ul {
        list-style-type: none;
    }
}