/*<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap" rel="stylesheet">
font-family: 'Barlow Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat&display=swap" rel="stylesheet">
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat&display=swap');
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;*/

:root {
    --red: #9b0f00;
    --black: #1c2125;
    --yellow: #db9c3b;
    --white: #ffffff;
    --lightgrey: #EEF1EF;
    --darkgrey: #78777e;
  }


header, footer, nav {
    max-width: 500px;
    padding: 0;
}

#main {
    margin: 0 auto;
    max-width: 100%;
}

  body {
    font-size: 14pt;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    height: 100%;
    background-color: var(--white);
    color: var(--black);
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

header, footer, nav {
    max-width: 500px;
    padding: 0;
}

h1 h2 h3 h4 {
    font-family: 'Barlow Condensed', sans-serif;
}

p {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

header.menubar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: var(--white);
    color: var(--black);
    position: fixed;
}

header div.logo {
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    width: 100%;
}

header div.logo picture {
    width: 150px;
    margin-top: 10px;
}

.logo img {
    max-width: 100%;
    padding: .5rem;
    margin-top: 0;
}

.logoheading {
    background-color: var(--black);
    width: 100%;
    color: white;
    padding-left: 1rem;
}
.tooeleheading {
    font-size: 1.25rem;
    padding-bottom: 0;
    margin-bottom: -10px;
}

.chamber {
    font-size: 2rem;
    padding-top: 0;
    margin: 0 auto;
}

.menubar {
    display: flex;
    flex-direction: column;
}

.socialbar {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
}

.socialbar ul {
    overflow: hidden;
    display:flex;
    flex-direction: row;
    margin-left: -20px;
}

.socialbar img {
    width: 45px;
}

.socialbar button {
    padding-left: .5rem;
}

.social-links {
    padding-right: 1.5rem;
    max-width: 100%;
    align-items: flex-end;
}

ul.social-links li {
    list-style-type: none;
    line-height: 1;
    padding: .5rem;
    align-items: flex-end;
    overflow: hidden;
}

.joinbutton {
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: flex-end;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    border-radius: 15px;
    background-color: var(--yellow);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    box-shadow: 5px 5px 10px var(--darkgrey);
}

nav ul {
	list-style-type: none;
	margin-top: 0;
    margin-bottom: 0;
	padding: 0;
	overflow: hidden;
    background-color: var(--whtie);
    color: var(--black);
}

.navigation li:first-child {
    display: block;
    color: var(--black);
}

.navigation li {
    display: none;
}

nav ul li a {
	display: block;
    font-weight: bold;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    border-top: 1px solid var(--yellow);
}

.responsive li {
    display: block;
    color: var(--black);
}

.navigation{
    color: var(--black);
}

.responsive {
    color: var(--black);
}

.ham {
    color: var(--white);
    background-color: var(--red);
}
.active a {
    border-bottom: 5px solid var(--red);
    padding-bottom: .5rem;
}

nav a:hover {
    background-color: var(--darkgrey); 
    color: var(--white);      
}

.active hover {
    background-color: var(--darkgrey);
    color: var(--white);
}

.home picture {
    width: 500px;
}

/* ---------home page--------------*/

.homepagehero {
    max-width: 500px;
    margin: 0 auto;
}

.homepagehero img {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.purpose {
    border: 2px solid var(--red);
    padding: 1rem;
    margin: 0 auto;
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
}

.purpose picture img {
    width: 100%;
    padding: 0;
    border-radius: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.purpose h2 {
    font-size: 2rem;
    padding-left: 1rem;
    margin-top: -2.25rem;
    background-color: var(--white);
    width: 225px;
}

.purpose p {
    margin-top: 1rem;
}

.localadvertisement {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    margin-bottom: 3rem;
    max-width: 500px;
}

.ad {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid var(--black);
    margin-top: 40px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    line-height: 1;
    background-color: var(--yellow);
    box-shadow: 5px 5px 10px var(--darkgrey);
}


.ad h3 {
    font-size: 1.5rem;
}

.ad h4 {
    font-size: 1.1rem;
    margin-top: -15px;
    color: var(--red);
    border-bottom: 2px solid var(--black);
    padding: .5rem;
}

.ad p {
    font-size: 14pt;
    padding: 0;
    margin: 0 0 15px 0;
}

.ad img{
    background-color: white;
    width: 100%;
    border-radius: 0 0 15px 15px;
    border-top: 2px solid var(--black);
    margin: 0 auto;
}

.events {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--darkgrey);
    color: var(--white);
    margin-top: -10px;
    margin-bottom: 40px;
}

.weather {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid var(--red);
    padding: 1rem;
    margin-top: 40px;
    border-radius: 15px;
    height: 100%;
    grid-column-gap: 1rem;
    max-width: 100%;
    margin-bottom: 3rem;
}

.weather h2 {
    grid-row: 1;
    font-size: 2rem;
    margin-top: -40px;
    background-color: white;
    width: 260px;
    padding-left: 1rem;
}

.weather h3 {
    text-align: center;
    max-width: 500px;
}


.weathersummary {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    max-width: 100%;
    text-align: center;
}

.threedayforecast h3 {
    text-align: center;
    padding: 0;
}

.threedayforecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 0;
    max-width: 100%;
}

.day {
    margin: 0 0 0 0;
    border: 1px solid var(--black);
}

.day h3 {
    padding: 0;
    margin-top: 0;
    text-align: center;
    background-color: var(--red);
    color: var(--white);
}

.day img {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 60px;
    margin-left: 1rem; 
    
}

.day p{
    padding: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}


.weather {
    display: block;
    border: 2px solid var(--red);
    padding: 1rem;
    margin-top: 40px;
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.weather h2 {
    font-size: 2rem;
    text-align: left;
    margin: 0 auto;
    margin-top: -40px;
    background-color: white;
    width: 260px;
    padding-left: 1rem;
}

.weather h3 {
    text-align: center;
}


.weathersummary {
    max-width: 100%;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 20px;

}

.threedayforecast h3 {
    text-align: center;
}

.threedayforecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 0;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;

}

.day {
    margin: 0 0 0 0;
    border: 1px solid var(--black);
}

.day h3 {
    padding: 0;
    margin-top: 0;
    text-align: center;
    background-color: var(--red);
    color: var(--white);
}

.day img {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 60px;
    margin-left: 1rem; 
    
}

.day p{
    padding: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
/*-------join-----------*/
.pageheader {
    background-color: var(--darkgrey);
    color: var(--white);
    width: 100%; 
    padding: 2rem;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    clear: both;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

form label {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

form .form {
    margin-bottom: 1rem;
    background-color: var(--white);
    margin-bottom: 2rem;
    color: var(--black);
    padding: 2rem;
    border: 2px solid var(--red);
    border-radius: 15px;
}

fieldset h3 {
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
    margin: 0 auto;
}

form input {
    width: 100%;
    margin-bottom: 1rem;
}

#level, #comments {
    background-color: var(--lightgrey);
}

form p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

form textarea {
    resize: none;
    width: 90%;
    margin-bottom: 0.5rem;
    width: 98%;
    height: 100px;
    box-sizing: border-box;
}

#submit {
    background-color: var(--yellow);
    color: var(--black);
    font-weight: bold;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 8px;
}

#submit:hover {
    background-color: var(--blue);
    color: var(--darkblue);
  }

/*-----footer----------*/

footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 12pt;
    padding: 1rem;
}

footer img {
    max-width: 100px;
}

footer p {
    margin: 5px 0 10px 0;
    font-size: 12pt;
}

.contactinfo {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.address p {
    text-align: center;
}

.contact p {
    text-align: center;
}

.bottomfooter {
    padding: .5rem;
    border-top: 1px solid var(--darkgrey);
}

