/*<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap" rel="stylesheet">
font-family: 'Barlow Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat&display=swap" rel="stylesheet">
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat&display=swap');
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;*/

:root {
    --red: #9b0f00;
    --black: #1c2125;
    --yellow: #db9c3b;
    --white: #ffffff;
    --lightgrey: #EEF1EF;
    --darkgrey: #5d5d5f;
  }


header, main, footer, nav{
    max-width: 550px;
    padding: 0;
    margin: auto;
}

#main {
    margin: 0 auto;
    max-width: 100%;
}

body {
    font-size: 12pt;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    height: 100%;
    background-color: var(--white);
    color: var(--black);
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

header, footer, nav {
    max-width: 100%;
    padding: 0;
}

h1 h2 h3 h4 {
    font-family: 'Barlow Condensed', sans-serif;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    margin-top: 5px;
}

p {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
}

header.menubar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: var(--white);
    color: var(--black);
    position: fixed;
}

header div.logo {
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    width: 100%;
}

header div.logo picture {
    width: 150px;
    margin-top: 10px;
}

.logo img {
    max-width: 100%;
    padding: .5rem;
    margin-top: 0;
}

.logoheading {
    background-color: var(--black);
    width: 100%;
    color: white;
    padding-left: 1rem;
}
.tooeleheading {
    font-size: 1.25rem;
    padding-bottom: 0;
    margin-bottom: -10px;
}

.chamber {
    font-size: 2rem;
    padding-top: 0;
    margin: 0 auto;
}

.menubar {
    display: flex;
    flex-direction: column;
}

.socialbar {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    max-width: 100%;
    align-content: center;
    justify-content: center;
}

.socialbar ul {
    display:flex;
    flex-direction: row;
    padding-right: .5rem;
}

.socialbar img {
    padding: .5rem;
    max-width: 80%;
}

.socialbar button {
    display: block;
    cursor: pointer;
    padding: 1rem 1.25rem;
    max-width: 100%;
    margin: auto;
    border-radius: 15px;
    background-color: var(--yellow);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    box-shadow: 5px 5px 10px var(--darkgrey);
}

button a {
    text-decoration: none;
}

button a:hover {
    color: var(--white);      
}

.social-links {
    display: block;
    margin: auto;
    list-style-type: none;
    line-height: 1;
    padding: 0;
    max-width: 50%;
}

nav ul {
	list-style-type: none;
	margin-top: 0;
    margin-bottom: 0;
	padding: 0;
	overflow: hidden;
    background-color: var(--whtie);
    color: var(--black);
}

.navigation li:first-child {
    display: block;
    color: var(--black);
}

.navigation li {
    display: none;
}

nav ul li a {
	display: block;
    font-weight: bold;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    border-top: 1px solid var(--yellow);
}

.responsive li {
    display: block;
    color: var(--black);
}

.navigation{
    color: var(--black);
}

.responsive {
    color: var(--black);
}

.ham {
    color: var(--white);
    background-color: var(--red);
}

.active a {
    border-bottom: 5px solid var(--red);
    padding-bottom: .5rem;
}

nav a:hover {
    background-color: var(--black); 
    color: var(--white);      
}

.active hover {
    background-color: var(--darkgrey);
    color: var(--white);
}

.home picture {
    max-width: 500px;
}

/* ---------home page--------------*/

.homepagehero {
    max-width: 100%;
    margin: auto;
}

.homepagehero img {
    max-width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}

.purpose {
    border: 2px solid var(--red);
    padding: 1rem;
    margin: 0 auto;
    border-radius: 15px;
    max-width: 90%;
    height: 100%;
}

.purpose picture img {
    max-width: 100%;
    padding: 0;
    border-radius: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.purpose h2 {
    padding-left: 1rem;
    margin-top: -2.25rem;
    background-color: var(--white);
    width: 170px;
}

.purpose p {
    margin-top: 1rem;
}

.localadvertisement {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    margin-bottom: 3rem;
    max-width: 500px;
}

.ad {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid var(--black);
    margin-top: 20px;
    border-radius: 15px;
    max-width: 100%;
    text-align: center;
    line-height: 1;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 5px 5px 10px var(--darkgrey);
}

.ad h3 {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.ad h4 {
    font-size: 1.1rem;
    margin-top: -15px;
    color: var(--yellow);
    border-bottom: .5px solid var(--darkgrey);
    padding: .5rem;
}

.ad p {
    font-size: 14pt;
    padding: 0;
    margin: 0 0 15px 0;
}

.ad img{
    background-color: white;
    max-width: 100%;
    border-radius: 0 0 15px 15px;
    border-top: 2px solid var(--black);
    margin: 0 auto;
}

.events {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--darkgrey);
    color: var(--white);
    margin-top: -20px;
    margin-bottom: 40px;
}

.events h2 {
    padding-top: 0;
    margin-top: 10px;
}

.threedayforecast h3 {
    text-align: center;
    padding: 0;
}

.day {
    margin: 0 0 0 0;
    border: 1px solid var(--black);
}

.day h4 {
    padding: 0;
    margin-top: 0;
    text-align: center;
    background-color: var(--red);
    color: var(--white);
}

.day img {
    display: block;
    padding: 0;
    max-width: 80px;
    margin: auto;    
}

.day p {
    padding: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.weather {
    display: block;
    border: 2px solid var(--red);
    padding: 1rem;
    margin-top: 40px;
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.weather h2 {
    margin-top: -40px;
    background-color: white;
    width: 185px;
    padding-left: 1rem;
}

.weather h3 {
    text-align: center;
}

.weather h4 {
    text-align: center;
}

.weathersummary {
    max-width: 100%;
    background-color: var(--yellow);
    color: var(--black);
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.threedayforecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 0;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/*--------tooele city page-----*/

.homeherodiv img {
    max-width: 100%;
    margin: auto;
    margin-bottom: -7px;
}

.tooelepage {
    margin-bottom: 20px;
}

#facts {
    background-color: var(--yellow);
    color: var(--black);
    padding: 1rem;
    border-radius: 15px;
}

#todo a {
    color: var(--yellow);
}

#todo {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
    border-radius: 15px;
}

#events {
    background-color: var(--red);
    color: var(--white);
    padding: 1rem;
    border-radius: 15px;
}

.history {
    border: 2px solid var(--red);
    padding: 1rem;
    border-radius: 15px; 
    margin-top: 20px;
}

figure {
    padding: 0;
    margin: 0 auto;
    background-color: var(--black);
    color: var(--white);
    font-size: 10pt;
    text-align: center;
    width: 100%;
}

figure img {
    width: 100%;
    filter: blur(0em);
    transition: filter 1s;
}

figure img[data-src] {
    filter: blur(0.2em);
  }

figcaption {
    padding: 10px;
}

.photogallery {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
  
.galleryphoto {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
}

/*-------join-----------*/

#join h4 {
    margin: 0;
}

#join h5 {
    margin: 5px 0 0 10px;
}

.pageheader {
    background-color: var(--darkgrey);
    color: var(--white);
    max-width: 100%; 
    padding: 2rem;
    margin-top: 0;
}

.application {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
}

.form label {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    margin-left: .75rem;
}

.form {
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--red);
    border-radius: 15px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

#application h3 {
    background-color: var(--white);
    padding-left: 1rem;
    margin-top: -25px;
    text-align: left;
    max-width: 120px;
}


form input {
    width: 90%;
    height: 25px;
    margin-bottom: 1rem;
    margin-left: .75rem;
}

#submit {
    max-width: 80%;
}
    
#application h3 {
        background-color: var(--white);
        padding-left: 1rem;
        margin-top: -25px;
        text-align: left;
        max-width: 120px;
}
    
#level, #comments {
    background-color: var(--lightgrey);
}

form p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: .75rem;
}

.form textarea {
    resize: none;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 100px;
    box-sizing: content-box;
    max-width: 90%;
    margin-left: .75rem;
}

#submit {
    background-color: var(--yellow);
    color: var(--black);
    font-weight: bold;
    max-width: 300px;
    margin: auto;
    margin-left: .75rem;
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 8px;
    height: 50px;
}

#submit:hover {
    background-color: var(--darkgrey);
    color: var(--white);
}

#level1 {
    background-color: var(--black);
    color: var(--white);
    border-radius: 15px;
    padding: 1rem;
    max-width: 100%;
    margin-bottom: 10px;
}

#level2 {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px;
    padding: 1rem;
    max-width: 100%;
    margin-bottom: 10px;
}

#level3 {
    background-color: var(--darkgrey);
    color: var(--white);
    border-radius: 15px;
    padding: 1rem;
    max-width: 100%;
    margin-bottom: 10px;
}

#level4 {
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 15px;
    padding: 1rem;
    max-width: 100%;
    margin-bottom: 40px;
}

.confirmmembership {
    text-align: center;
}

/*-----directory page----*/

.list-view-button,
.grid-view-button {
  display: none;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: -20px;
    padding: 1rem;
}

.cards section {
    background-color: var(--white);
    color: var(--black);
    max-width: 100%;
    border: 2px solid var(--red);
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
}


.cards img {
    max-width: 100px;
    margin: auto;
    display: block;
}

.cards p {
    line-height: .5;
}

.cards a {
    font-size: 11px;
}

/*-----contact page-----*/

#directors {
    display: block;
    background-color: var(--yellow);
    color: var(--black);
    padding: 1rem;
    margin-top: 20px;
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

#directors h3 {
    font-size: 1.5rem;
}

#directors h4 {
    margin-bottom: 0;
}

#directors p {
    padding-left: 1rem;
    margin-top: -5px;
}

.locationinfo {
    padding: 1rem;
    border: 2px solid var(--red);
    border-radius: 15px;
    max-width: 100%;
    margin-bottom: 40px;
}

.locationinfo h3 {
   text-align: left;
   font-size: 1.5rem;
   margin-top: -50px; 
   background-color: var(--white);
   padding: 0;
   max-width: 210px;
}

.contactinfo {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.contactinfo p {
    padding: 0;
    margin: auto;
}

.googlemap {
    max-width: 100%;
}

.googlemap img {
    max-width: 100%;
}

.email {
    font-size: 10pt;
    padding: 0;
}

/*-----footer----------*/

footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 0;
}

footer img {
    max-width: 100px;
    padding-top: 1rem;
}

footer p {
    font-size: 12pt;
    line-height: 1;
}

footer a {
    color: var(--yellow);
}

.contactinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.contact {
    margin-top: 10px;
    
}
.address p {
    text-align: center;
    line-height: 1;
}

.contact p {
    text-align: center;
}

.bottomfooter {
    padding: .5rem;
    border-top: 1px solid var(--darkgrey);
}

.bottomfooter p {
    font-size: 10pt;
}

